@page
@model GraduationProject.Pages.DeliveryCompanies.DeliveryCompaniesListModel
@{
    Layout = "~/Pages/Shared/AdminLTE/_Admin.cshtml";
    var statusMessage = Model.StatusMessage;
    Model.StatusMessage = string.Empty;
}

<div class="row">
    <div class="col-12">
        <div id="Grid"></div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Contact Person</th>
            <th>Phone Number</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model.DeliveryCompanies)
        {
            <tr>
                <td>@company.Email</td>
            </tr>
        }
    </tbody>
</table>
