@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
        <h1>Welcome to Inventory Master</h1>
        <p>Manage your inventory with ease and efficiency.</p>
</div>
