@page
@model ResetPasswordConfirmationModel
@using GraduationProject.Applications.Companies
@inject CompanyService CompanyService

@{
    ViewData["Title"] = "Reset password confirmation";
    var defaultCompany = await CompanyService.GetDefaultCompanyAsync();
    var companyName = defaultCompany?.Name ?? string.Empty;
}

<partial name="~/Areas/Identity/Pages/Account/_StatusMessage.cshtml" model=@ViewData["StatusMessage"] />
<div class="card-body register-card-body" style="margin-bottom:500px;">
    <p class="login-box-msg">@ViewData["Title"]</p>

    <p class="mb-1">
        <a asp-page="./ForgotPassword">I forgot my password</a>
    </p>
    <p class="mb-1">
        <a asp-page="./Login" class="text-center">I already have a membership</a>
    </p>
</div>
