@model GraduationProject.Models.Entities.GoodsReceiveDetail

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/AdminLTE/_Admin.cshtml";
}

<h1>Edit</h1>

<hr />

<fieldset>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="GoodsReceiveId" class="control-label"></label>
                    <select asp-for="GoodsReceiveId" class="form-control" asp-items="ViewBag.GoodsReceiveId"></select>
                    <span asp-validation-for="GoodsReceiveId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductId" class="control-label"></label>
                    <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WarehouseId" class="control-label"></label>
                    <select asp-for="WarehouseId" class="form-control" asp-items="ViewBag.WarehouseId"></select>
                    <span asp-validation-for="WarehouseId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</fieldset>


<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
